[Unit]
Description=EcoSIS Production Environment
After=network.target docker.service

[Service]
Type=simple
WorkingDirectory=/opt/ecosis-deployment
ExecStart=/usr/local/bin/docker compose -f /opt/ecosis-deployment/docker-compose.yml up
ExecStop=/usr/local/bin/docker compose -f /opt/ecosis-deployment/docker-compose.yml down
#Restart=always

[Install]
WantedBy=multi-user.target