[Unit]
Description=EcoSIS Production Environment
After=network.target docker.service

[Service]
Type=simple
WorkingDirectory=/opt/ecosis-deployment
ExecStart=/usr/bin/docker compose -f /opt/ecosis-deployment/docker-compose.yaml up
ExecStop=/usr/bin/docker compose -f /opt/ecosis-deployment/docker-compose.yaml down
#Restart=always

[Install]
WantedBy=multi-user.target
